FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
GOOGLE_APPLICATION_CREDENTIALS=
SOURCE_PREFIX=
DEST_PREFIX=
TRIM_SILENCE_DB=-35dB
TRIM_SILENCE_DURATION=0.15
TRIM_MAX_START_SEC=
CONCURRENCY_LOAD=5
CONCURRENCY_PROCESS=2
CONCURRENCY_UPLOAD=5

FIREBASE_STORAGE_SERVICE_ACCOUNT_CREDS=