:root {
  --background: #0a121e;
  --foreground: #eaf3f7;
}

body {
  color: var(--foreground);
  background: var(--background);
}

body::after {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  background-image: url("/bg.jpg");
  background-size: contain;
  z-index: -2;
  opacity: 0.2;
}
