@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --background: rgba(10, 18, 30, 1);
  --foreground: #eaf3f7;
}

.decor-text {
  font-family: "Old Standard TT", serif !important;
}

.decor-title {
  font-family: "Old Standard TT", serif !important;
  font-size: 52px !important;
  margin-left: -4px !important;
}

body {
  color: var(--foreground);
  background: var(--background);
}

body,
html {
  padding: 0;
  margin: 0;
}
body::after {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  background-image: url("/bg.jpg");
  background-size: contain;
  z-index: -2;
  opacity: 0.2;
}
