:root {
  --background: rgba(10, 18, 30, 1);
  --foreground: #eaf3f7;
}

.decor-text {
  font-family: "Old Standard TT", serif !important;
}

.decor-title {
  font-family: "Old Standard TT", serif !important;
  font-size: 52px !important;
  margin-left: -4px !important;
}

@media screen and (max-width: 600px) {
  .decor-title {
    font-size: 38px !important;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

body,
html {
  padding: 0;
  margin: 0;
}

* {
  font-family: "Inter", "Roboto", sans-serif !important;
}

*::selection {
  background-color: #1f74be;
  color: initial;
}
